{% extends 'base.html' %}
{% load static %}
{% block title %} Adventure Time {% endblock %}
{% block header1 %}
  <h1>Home di AdventureTime</h1>
{% endblock %}
{% block content %}
<h2>Homepage Sito</h2>

<p>Comincia la navigazione</p>
<button type="button">
  <a href="{% url 'login'%}">Login</a>
</button>

<a href="{% url 'loggingout' %}">Logout</a>
<a href="{% url 'vacation:vacationlist' %}">Lista vacanze</a>
<a href="{% url 'vacation:createvacation' %}">Crea Nuova Vacanza</a>
<a href="{% url 'vacation:myprofile' %}">Profilo</a>

{% endblock %}