{% extends 'base.html' %}
{% load static %}

{% block content %}

<h3>Lasciati ispirare... e vai!</h3>

<figure>
    <img src="{% static 'img/cinqueterre.jpg' %}" height="200" alt="cinque terre">

    <img src="{% static 'img/london.jpg' %}" height="200" alt="londra">

    <img src="{% static 'img/machu_picciu.jpg' %}" height="200" alt="machu picciu">
    <img src="{% static 'img/thai.jpg' %}" height="200" alt="thailandia">
    <img src="{% static 'img/venice.jpg' %}" height="200" alt="venezia">
    <img src="{% static 'img/nyc.jpg' %}" height="200" alt="nyc">


</figure>


{% endblock %}