{% extends 'base.html' %}
{% load static %}
{% block title %} Adventure Time {% endblock %}
{% block header1 %}
  <h1>Home di AdventureTime</h1>
{% endblock %}
{% block content %}
<h2>Homepage Sito</h2>

<p>Comincia la navigazione</p>
<button type="button">
  <a href="{% url 'login'%}">Login</a>
</button>

<a href="{% url 'loggingout' %}">Logout</a>
<a href="{% url 'vacation:vacationlist' %}">Lista vacanze</a>

{% if user.is_authenticated and user.is_superuser %}
   <button type="button">
    <a href="{% url 'vacation:createvacation' %}">Crea Nuova Vacanza</a>
   </button>
{% else %}
   <button type="button" disabled>Crea Nuova Vacanza</button>
{% endif %}

<a href="{% url 'vacation:myprofile' %}">Profilo</a>
<a href="{% url 'register' %}">Registrati</a>

{% endblock %}