{% extends 'base.html' %}

{% block head %} Registrazione {% endblock %}

{% block title %} Creazione Utente {% endblock %}


{% block content %}

 <style>
        .registration-form {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f9f9f9;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .registration-form h1 {
            margin-bottom: 20px;
            font-size: 2em;
            color: #333;
        }

        .registration-form p {
            margin-bottom: 20px;
            color: #666;
        }

        .btn {
            border-radius: 20px;
            padding: 10px 20px;
            font-size: 1em;
            border: none;
            cursor: pointer;
            background-color: #34495e;
            color: #eaf1f6;
            transition: background-color 0.3s, color 0.3s;
        }

        .btn:hover {
            opacity: 0.8;
        }

        .form-group {
            margin-bottom: 15px;
        }
    </style>

<h1>Pagina di Registrazione</h1>
<p>Si prega di compilare i campi necessari</p>

    <div class="registration-form">
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn">Registrati ora!</button>
        </form>
    </div>

{% endblock %}
