{% extends "base.html" %}
{% load static %}

{% block head %} {% endblock %}

{% block title %} Pagina delle Liste {% endblock %}

{% block content %}

    <h1> Liste di {{ user.username }}</h1>

    {% if Lists %}
        {% for l in Lists %}
          📁 <a href="{% url 'vacation:listdetail' l.pk %}">Lista {{l}}</a>
        {% endfor %}
    {% else %}
        <p>Non hai ancora creato nessuna playlist.</p>
    {% endif %}

   <a href="{% url 'homepage' %}">Torna alla Home</a>

{% endblock %}
