{% extends "base.html" %} {% load static %}

{% block head %} {% endblock %}
{%block title %} Vacanze Fatte {% endblock %}

{% block content %}

<style>
    .done-vacations-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .liked-vacations-container h1 {
        font-size: 2em;
        color: #333;
        margin-bottom: 20px;
    }

    .vacation-card {
        background-color: #f1f1f1;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 15px;
        margin-bottom: 20px;
        max-width: 300px;
        width: 100%;
        text-align: center;
    }

    .vacation-card a {
        text-decoration: none;
        color: #34495e;
        font-size: 1.2em;
        font-weight: bold;
    }

    .vacation-card a:hover {
        opacity: 0.8;
    }

    .vacation-card p {
        margin: 10px 0;
        color: #555;
    }
</style>

<div class="done-vacations-container">
    <h1>Vacanze Fatte</h1>

    {% for l in List %}
        {% if l.vacations.count > 0 %}
           {% for vacation in l.vacations.all %}
               <div class="vacation-card">
                   <a href="{% url 'vacation:detailvacation' vacation.pk %}"><b>  {{ vacation.titolo }} </b></a>
                   <p> <strong>{{ vacation.luogo }}</strong></p>
                   <p>{{ vacation.descrizione }}</p>
               </div>
           {% endfor %}
        {% else %}
            <p>Non sono presenti elementi in questa lista</p>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}
