{% extends "base.html" %} {% load static %} 

{% block head %} {% endblock %} 
{%block title %} Vacanze {{List.name}} {% endblock %}

{% block content %}

  <h1>Vacanze {{ List.name }}</h1>

  {% if List %}
    {% for vacation in List.vacations.all %}
      <a href="{% url 'vacation:detailvacation' vacation.pk %}"><b>  {{ vacation }} </b></a>
  {% endfor %} 
  {% else %}
  <p>Non hai ancora creato nessuna lista.</p>
  {% endif %}

  <a href="{% url 'vacation:all_lists' %}">Tutte le Liste</a>
  <a href="{% url 'homepage' %}">Torna alla Home</a>


{% endblock %}
