<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profilo Utente</title>
</head>
<body>

    <div class="header">
    </div>

    <div class="profile-container">
        <div class="profile-card">
            <div class="profile-details">
                <div class="buttons">
                    <a href="{% url 'loggingout' %}">Logout</a>
                    <a href="{% url 'homepage' %}">Torna alla Home</a>
                    <a href="{% url 'vacation:vacationlist' %}">Lista vacanze</a>
                    <a href="{% url 'vacation:donevacations' %}">Vacanze Fatte</a>
                    <a href="{% url 'vacation:todovacations' %}">Vacanze da Fare</a>

                </div>
            </div>
        </div>
    </div>

</body>
</html>