{% extends "base.html" %} {% load static %}

{% block head %} {% endblock %}

{% block title %} Profilo {% endblock %}

{% block content %}

    <h2>Ciao {{user.username}}!</h2>

    <img src="{% if user.userprofile.profile_image %}{{ user.userprofile.profile_image.url }}{% else %} {% static '/img/default.jpg' %} {% endif %}" alt="Immagine di profilo">
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Aggiorna</button>
</form>
    <h4>Vacanze Consigliate</h4>
    <p>Le seguenti vacanze sono raccomandate perché condividono il valore comune: <strong>{{ param }}</strong>.</p>

    {% if vacations.count > 0 %}

        {% for v in vacations %}

            <div class="card">
                <a href="{% url 'vacation:detailvacation' v.pk %}">{{v}}</a>
                <p>{{v.luogo}}</p>
                <p>{{v.descrizione}}</p>
            </div>

        {% endfor %}
    {% else %}
        <p>Non ci sono proposte!</p>
    {% endif %}

<a href="{% url 'homepage' %}">Home</a>
<a href="{% url 'vacation:likedvacations' %}">Vacanze Piaciute</a>
<a href="{% url 'vacation:donevacations' %}">Vacanze Fatte</a>
<a href="{% url 'vacation:todovacations' %}">Vacanze da Fare</a>
  <a href="{% url 'vacation:vacationlist' %}">Lista vacanze</a>

{% endblock %}

