<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profilo Utente</title>
</head>
<body>
    <h4>Profilo di {{user.username}}</h4>
    <a href="{% url 'loggingout' %}">Logout</a>
    <a href="{% url 'homepage' %}">Torna alla Home</a>
    <a href="{% url 'vacation:vacationlist' %}">Lista vacanze</a>

    <a href="{% url 'vacation:donevacations' %}">Vacanze Fatte</a>
    <a href="{% url 'vacation:todovacations' %}">Vacanze Da Fare</a>
    <a href="{% url 'vacation:likedvacations' %}">Vacanze Piaciute</a>

</body>
</html>