{% extends "base.html" %}

{% block content %}
<h1>Ricerca Vacanze</h1>
<form method="get">
    {{ form.as_p }}
    <button type="submit">Cerca</button>
</form>

<h4>Risultati della Ricerca:</h4>
<ul>
    {% for v in vacations %}
        <li>
            <a href="{% url 'vacation:detailvacation' v.pk %}">{{ v.titolo }}</a>
            - {{ v.luogo }} - {{v.descrizione}}
        </li>
    {% empty %}
        <li>Nessun risultato trovato.</li>
    {% endfor %}
</ul>

{% endblock %}
