{% extends "base.html" %} {% load static %}

{% block head %} {% endblock %}
{%block title %} Vacanze Da Fare {% endblock %}

{% block content %}

  <h1>Vacanze Da Fare</h1>


  {% for l in List %}
    {% if l.vacations.count > 0 %}
       {% for vacation in l.vacations.all %}
         <a href="{% url 'vacation:detailvacation' vacation.pk %}"><b>  {{ vacation.titolo }} </b></a>
      {% endfor %}
    {% else %}
       <p>Non sono presenti elementi in questa lista</p>
    {% endif %}
  {% endfor %}


{% endblock %}
