{% extends 'base.html' %}

{% block title %} {{ object.titolo }} {% endblock %}

{% block head %} {{object.titolo}} {% endblock %}

{% block content %}

<style>
    .vacation-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        padding: 20px;
        background-color: #f1f1f1;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .vacation-info p {
        font-size: 1.1em;
        color: #555;
        margin: 5px 0;
        line-height: 1.5em;
    }

    .action-buttons, .form-container, .admin-actions {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .form-container {
        gap: 20px;
    }

    .form-container form {
        display: inline-block;
    }

    .btn {
        border-radius: 20px;
        padding: 8px 15px;
        font-size: 1em;
        border: none;
        cursor: pointer;
        background-color: #eaf1f6;
        color: #555;
    }

    .btn:hover {
        background-color: #d3e0ea; /* Leggero cambio di colore al passaggio del mouse */
    }

    .btn-disabled {
        border-radius: 20px;
        padding: 8px 15px;
        font-size: 1em;
        border: none;
        cursor: pointer;
        background-color: #eaf1f6;
        color: #555;
        opacity: 0.5;
    }

    .alert {
        margin-top: 10px;
        text-align: center;
        font-weight: bold;
        font-size: large;
    }

    .admin-actions {
        margin-top: 40px; /* Maggiore distanza rispetto agli elementi precedenti */
        gap: 20px; /* Spazio tra i bottoni di amministrazione */
    }

    .admin-actions a {
        display: inline-block;
        padding: 8px 15px;
        border-radius: 20px;
        background-color: #eaf1f6;
        color: #555;
        text-decoration: none;
        text-align: center;
    }

    .admin-actions a:hover {
        background-color: #d3e0ea;
    }
</style>

{% if messages %}
    <div>
        {% for message in messages %}
            <div class="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}


<h2>{{ object.titolo }}</h2>
<div class="vacation-info">
    <p>Luogo: <strong>{{ object.luogo }}</strong></p>
    <p>Tipologia: <strong>{{ object.tipologia }}</strong></p>
    <p>Prezzo: <strong>{{ object.prezzo }}</strong></p>
    <p>Durata: <strong>{{ object.durata }}</strong></p>
    <p>Periodo: <strong>{{ object.periodo }}</strong></p>
    <p>{{ object.descrizione }}</p>
</div>

<div class="action-buttons">
    {% if user.is_authenticated %}
        <form method="POST" action="{% url 'vacation:like' object.pk %}">
            {% csrf_token %}
            {% if user in object.like.all %}
                <button type="submit" class="btn">{{ object.like_count }} ❤️ like</button>
            {% else %}
                <button type="submit" class="btn">{{ object.like_count }} 🤍 like</button>
            {% endif %}
        </form>
    {% else %}
        <button type="button" class="btn-disabled">{{ object.like_count }} 🤍 like</button>
    {% endif %}
</div>

<div class="form-container">
    <div>
        <h4>Aggiungi a una Lista</h4>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {% if user.is_authenticated %}
                <button type="submit" class="btn">Aggiungi</button>
            {% else %}
                <button type="button" class="btn-disabled">Aggiungi</button>
            {% endif %}
        </form>
    </div>

    <div>
        <h4>Rimuovi da una Lista</h4>
        <form method="post">
            {% csrf_token %}
            {{ remove_form.as_p }}
            {% if user.is_authenticated %}
                <button type="submit" name="remove_from_list" class="btn">Rimuovi</button>
            {% else %}
                <button type="button" class="btn-disabled">Rimuovi</button>
            {% endif %}
        </form>
    </div>
</div>


{% if user.is_authenticated and user.is_superuser %}
    <div class="admin-actions">
        <a href="{% url 'vacation:editvacation' object.pk %}">Modifica Vacanza</a>
        <a href="{% url 'vacation:deletevacation' object.pk %}">Elimina Vacanza</a>
    </div>
{% endif %}

{% endblock %}