{% extends "base.html" %}

{% block head %} Lista Vacanze {% endblock %}

{% block title %}  {% endblock %}

{% block content %}

<style>
    .vacation-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .card {
        flex: 1 1 calc(33.333% - 20px); /* Adatta le card per stare in una fila di tre */
        box-sizing: border-box;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #eaf1f6;
    }

    .card a {
        font-size: 1.5em;
        font-weight: bold;
        color: #34495e;
        text-decoration: none; /* Rimuove la sottolineatura dal titolo */
    }

    .card a:hover {
        opacity: 0.8 /* Aggiungi un'animazione di hover per migliorare l'usabilità */
    }

    .card p {
        margin: 10px 0;
        color: #666;
    }

    @media (max-width: 768px) {
        .card {
            flex: 1 1 calc(50% - 20px); /* Adatta a due per fila su schermi più piccoli */
        }
    }

    @media (max-width: 480px) {
        .card {
            flex: 1 1 100%; /* Adatta a una per fila su schermi molto piccoli */
        }
    }
</style>

    <h1>Lista Vacanze</h1>

    {% if object_list.count > 0 %}
        <div class="vacation-container">
            {% for v in object_list %}
                <div class="card">
                    <a href="{% url 'vacation:detailvacation' v.pk %}">{{v.titolo}}</a>
                    <p> <strong>{{ v.luogo }}</strong></p>
                    <p>{{v.descrizione}}</p>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Non ci sono proposte!</p>
    {% endif %}

{% endblock %}
