{% extends "base.html" %}

{% block head %} {% endblock %}

{% block title %} Lista Vacanze {% endblock %}

{% block content %}

    <h1>Lista Vacanze</h1>

    {% if object_list.count > 0 %}

        {% for v in object_list %}

            <div class="card">
                <a href="{% url 'vacation:detailvacation' v.pk %}">{{v.titolo}}</a>
                <p>{{v.luogo}}</p>
                <p>{{v.descrizione}}</p>
            </div>

        {% endfor %}
    {% else %}
        <p>Non ci sono proposte!</p>
    {% endif %}

<a href="{% url 'homepage' %}">Torna alla Home</a>
<a href="{% url 'vacation:createvacation' %}">Crea Nuova Vacanza</a>

{% endblock %}

